/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Style du header */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Ajustez la taille du logo */
}

.auth-buttons {
    display: flex;
    gap: 1rem;
}

.auth-button1,
.auth-button2 {
    background-color: white;
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.auth-button1:hover,
.auth-button2:hover {
    background-color: var(--button-hover-color);
    color: white;
}

/* Style du menu de navigation */
.sticky-nav {
    background-color: #333;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.sticky-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}



nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--tertiary-color);
}

/* Style de la section hero */
.hero {
    background-color: var(--background-color);
    padding: 20px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2em;
}
